card_export/*
card_output/*
card_portraits/*
nanDECK/1.26/*
templates/huge_res_export/*
templates/double_res_export/*
templates/original_res_export/*
test.csv
test.ods
*.zip
fonts/*
releases/*



!card_portraits/*.txt
!nanDECK/1.26/*.txt
!templates/huge_res_export/*.txt
!templates/double_res_export/*.txt
!templates/original_res_export/*.txt
!card_portraits/aragorn_full.png
!card_portraits/steel_is_steel.png
card_output_lotro
morvael.csv
cards_lotro.csv
test.txt
bug.csv
cards_lotro.ods
link_bug.txt
